.row {
    margin-left: 20px;
    color: azure;
}

.posters {
    display: flex;
    padding: 20px 0px 10px 0px;
    overflow-x: scroll;
    overflow-y: hidden;
}

.posters::-webkit-scrollbar {
    display: none;
}

.poster {
    max-height: 220px;
    margin-right: 10px;
    cursor: pointer;
}

.smallPoster {
    max-height: 100px;
    margin-right: 10px;
    cursor: pointer;
}

.poster:hover {
    transform: scale(1.05)
}
.smallPoster:hover{
    transform: scale(1.1);
}