.banner {
    background-size: cover;
    height: 500px;
    color: white;
    margin-bottom: 10px;

}

.content {
    padding-top: 200px;
    height: 100px;
    padding-left: 20px;
}

.title {
    font-size: 3rem;
    font-weight: 800;
    padding-bottom: 0.3rem;
}


.button {
    color: white;
    outline: none;
    border: none;
    font-weight: 700;
    border-radius: 5px;
    padding: 0.5rem 2rem 0.5rem 2rem;
    background-color: rgba(51, 51, 51, 0.5);
    cursor: pointer;
    margin-right: 1rem;

}

.description {
    width: 45rem;
    line-height: 1.3;
    padding-top: 1rem;
    font-size: 1rem;
    height: 80px;
    max-width: 400px;
    overflow: hidden;
    /* text-overflow: ellipsis; */
    display: -webkit-box;
    -webkit-line-clamp: 4;
    /* Set the number of lines to display before adding ellipsis */
    -webkit-box-orient: vertical;
}

.button:hover {
    color: black;
    background-color: white;
}

.fade_bottom {
    height: 100%;
    background-image: linear-gradient(180deg, transparent, rgba(37, 37, 37, 0.61), #111);
}